name: lms-deploy
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: clone the code
        uses: actions/checkout@v6.0.1
      - name: build the backend image
        run: | 
         cd api
         docker build -t ${{vars.DOCKER_USERNAME}}/lmsbe .
      - name: build the frontend image
        run: |
         cd webapp
         docker build -t ${{vars.DOCKER_USERNAME}}/lmsfe .
      - name: Docker login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{vars.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Docker push
        run: |
         docker push ${{vars.DOCKER_USERNAME}}/lmsbe
         docker push ${{vars.DOCKER_USERNAME}}/lmsfe
  deploy:
    needs: build
    runs-on: linux
    steps:
      - name: create network
        run: docker network create lms-network
      - name: Create database
        run: docker run -dt --name lmsdb --network lms-network -e POSTGRES_PASSWORD=admin123 -p 5432:5432 postgres
      - name: run backend
        run: docker run -dt --name lmsbe --network lms-network -e DATABASE_URL=postgresql://postgres:admin123@lmsdb:5432/postgres -e PORT=3000 -e MODE=local -p 3000:3000 ${{vars.DOCKER_USERNAME}}/lmsbe    
      - name: run frontend
        run: docker run -dt --name lmsfe --network lms-network -p 80:80 ${{vars.DOCKER_USERNAME}}/lmsfe










      









        
